h1{

}

p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 20px;
}

.noticias{
    background-color: rgb(246, 242, 249);
    padding: 20px;
}

.contato{
    background-color: rgb(246, 242, 249);
    margin-top: 10px;
    padding: 20px;
}
#esportes{
    color: rgba(4, 129, 182, 0.815);
    background-color: rgb(228, 232, 236);
    padding: 18px;
}
